### Research
***

In [10]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import StandardScaler

In [11]:
df = pd.read_csv('../data/todo_list_data.csv')

In [12]:
df = df.dropna()

In [13]:
df.head()

,title,description,category,duration,time_to_deadline,description_length,is_urgent,priority
0,Створити презентацію на тему маркетингова камп...,Прочитати розділ маркетингова кампанія.,Навчання,158,20.0,39,0,2
2,Відвідати спортзал з родиною,Організувати наради.,Особисте,314,4.0,20,0,2
3,Зробити підготовка звіту,Написати email клієнту щодо маркетингова кампа...,Робота,304,15.0,50,0,3
5,Підготувати фінансовий звіт,Завершити проєктний аналіз перед 1971-06-14.,Робота,416,11.0,44,0,3
7,Відвідати спортзал з родиною,Спланувати похід в кіно з друзями.,Особисте,352,4.0,34,0,2

In [14]:
df['category'].unique()

array(['Навчання', 'Особисте', 'Робота', 'Подорожі', 'Спорт'],
      dtype=object)

In [15]:
replace = {'Навчання':1, "Особисте":2, "Подорожі":3, 'Спорт':4, 'Робота':5}
df['category'] = df['category'].replace(replace)
df.head()

/tmp/ipykernel_11974/2881490610.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['category'] = df['category'].replace(replace)

,title,description,category,duration,time_to_deadline,description_length,is_urgent,priority
0,Створити презентацію на тему маркетингова камп...,Прочитати розділ маркетингова кампанія.,1,158,20.0,39,0,2
2,Відвідати спортзал з родиною,Організувати наради.,2,314,4.0,20,0,2
3,Зробити підготовка звіту,Написати email клієнту щодо маркетингова кампа...,5,304,15.0,50,0,3
5,Підготувати фінансовий звіт,Завершити проєктний аналіз перед 1971-06-14.,5,416,11.0,44,0,3
7,Відвідати спортзал з родиною,Спланувати похід в кіно з друзями.,2,352,4.0,34,0,2

In [18]:
df.drop(columns=['is_urgent', 'title', 'description'], axis=1)

     category  duration  time_to_deadline  description_length  priority
0           1       158              20.0                  39         2
2           2       314               4.0                  20         2
3           5       304              15.0                  50         3
5           5       416              11.0                  44         3
7           2       352               4.0                  34         2
..        ...       ...               ...                 ...       ...
994         1       447               3.0                  39         2
995         2        84              17.0                  37         2
996         2        46              28.0                  34         1
997         4       106              30.0                  30         2
999         4        56              21.0                  17         1

[904 rows x 5 columns]

In [19]:
df.to_csv('../data/test_set.csv', index=False)